.row {
    padding: 1rem 4%;
    color: #fff;
    &__title {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    &__images {
        display: flex;
        align-items: center;
        overflow-x: visible;
        overflow-y: hidden;
        width: 100%;
        padding: 0.5rem 0;
        
        .row__content {
            transition: 0.7s ease;
            .row__image {
                width: 350px;
                height: 200px;
                padding: 0.2rem;
            }
            .row__buttons__left {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                z-index: 5;
                
                svg {
                    font-size: 5rem;
                    padding-right: 10px;
                    padding-bottom: 20px;
                }
            }
        
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
        
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: black;
    }

    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: black;
        border-radius: 9px;
        border: 3px solid transparent;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    }
}