.div__profil {
    background-color: #f3f3f3;
    padding-right: 50px;
}

.div__profil__compte {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 30px;
    border-bottom: solid 1px #797979;
    padding-left: 50px;

    h1 {
        font-size: 50px;
    }
}

.div__profil__compte__membre {
    padding-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
    color: #3a3939;
}

