.section {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 10px solid rgb(34, 34, 34);
}

.div__text {
    padding: 80px;
    color: white;
    margin-left: 100px;
    width: 500px;
}

.div__h1 {
    font-weight: 900;
}

.div__p {
    margin-top: 50px;
    line-height: 150%;
}

.div__video {
    margin-right: 50px;
}

.image {
    position: relative;
    z-index: 1;
    width: 380px;
    height: auto;
}


.video {
    position: absolute;
    height: auto;
    width: auto;
    top: 130%;
    left: 72%;
}

/*modal*/

