.section {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 10px solid rgb(34, 34, 34);

    @media  (max-width: 800px) {
        flex-direction: column;
    }

    &__text {
        padding: 80px;
        color: white;
        margin-left: 100px;
        width: 500px;
        .section__h1 {
            font-weight: bold;
            font-size: 2.2rem;
        }
        
        .section__p {
            margin-top: 50px;
            line-height: 150%;
        }
    }

    &__image {
        .image {
            position: relative;
            z-index: 1;
            width: 80%;
            height: auto;
        }
    }
}