.div__dashbord {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 231, 231);

    .div__main {
        background-color: rgb(233, 231, 231);
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        height: 100%;

        
        
        .div__elements {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            transition: 2s ease;
            
            

            .div__element {
                cursor: pointer;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: -30px;

                .div__icon {
                   svg {
                       font-size: 4.0rem;
                   }
                }

                .div__text {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;
                    width: 50%;
                }
            }

        }

        .div__element:hover {
            color:#e50914;
            transform: scale(1.1);
        }
    }
  
}