.__button {
    margin-right: 1.1em;
    padding: 0.4em 0.9em;
    border-radius: 0.4em;
    border : 1px solid black;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    transition: 0.7s ease;
}

.__button:hover {
    border : 3px solid #e50914;
    color : #e50914;
    font-weight: 800;
}