.__button {
    cursor: pointer;
    padding: 0.5em 0.8em;
    border-radius: 0.2em;
    background-color: #e50914;
    color: white;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    transition: 0.7s ease;
}
