.input__ {
    height: 40px;
    border: solid 1px transparent;
    background-color: rgb(63, 63, 63);
    color: white;
    font-weight: bold;
    transition: 0.7s ease;
    width: 75%;
    border-radius: 3px;
    margin-bottom: 16px;
    padding-left: 20px;
}
