.div__parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    padding-left: 50px;
}

.div__parent__left {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    h1 {
        font-weight: bold;
        font-size: 20px;
        color: rgb(107, 107, 107);
    }
    
    button {
        width: 90%;
        margin-top: 15px;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 3px solid none;
        background-color: rgb(204, 204, 204) solid;
        cursor: pointer;
    }
}

.div__parent__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.div__parent__email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgb(230, 230, 230);
}

.div__email {
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 23px;
    }
}

.p__gray {
    color: rgb(107, 107, 107);
}

.div__email__link {
    display: flex;
    flex-direction: column;
    a {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 23px;
        color: rgb(38, 117, 207);
        text-align: end;
    }
}

.div__parent__paiement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: solid 1px rgb(230, 230, 230);
}

.div__paiement {
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 23px;
    }
}

.div__paiement__link {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 23px;
        color: rgb(38, 117, 207);
        text-align: end;
    }
}

.div__parent__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.div__link {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 23px;
        color: rgb(38, 117, 207);
        text-align: end;
    }
}