.div__abonnement {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-bottom: solid 1px rgb(172, 170, 170);

    .div__left {
        display: block;

        h1 {
            color: #757575;
        }

        button {
            margin-top: 10px;
            font-size: 13px;
            padding: 6px 2em;
        }
    }

    .div__right {
        display: block;
        flex-grow: 1;
        padding-left: 30px;
    
        .div__parent__email {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid rgb(230, 226, 226);

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            .div__email {
                .email {
                    font-weight: bold;
                    color: black;
                }
                p {
                    margin-bottom: 20px;
                    color: #757575;
                    font-size: 1.0rem;
                }
            }

            .div__email__link {
                display: flex;
                flex-direction: column;
                text-align: end;

                @media screen and (max-width: 600px) {
                    text-align: start;
                }

                a {
                    margin-bottom: 20px;
                    font-weight: 600;
                    color: #0073e6;
                }
            }
        }

        .div__parent__paiement {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid rgb(230, 226, 226);
            margin-top: 20px;

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            .div__paiement {
                p {
                    margin-bottom: 20px;
                    font-size: 1.0rem;
                }
               
                .div__icon {
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 30px;
                    }

                    .visa__card {
                        font-weight: bold;
                    }
                }
            }

            .div__paiement__link {
                display: flex;
                flex-direction: column;
                text-align: end;

                @media screen and (max-width: 600px) {
                    text-align: start;
                }

                a {
                    margin-bottom: 20px;
                    font-weight: 600;
                    color: #0073e6;
                }
            }

        }

        .div__parent__link {
            display: flex;
            flex-direction: column;
            text-align: end;
            margin-top: 20px;

            @media screen and (max-width: 600px) {
                text-align: start;
            }

            a {
                margin-bottom: 20px;
                font-weight: 600;
                color: #0073e6;
            }

        }

    }

    
}