.section__parent__details {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .div__details__left {
        h1 {
            color: #757575;
        }
    }

    .div__details__right {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 110px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            margin-left: 40px;
            a {
                margin-top: 20px;
            }
        }
        h1 {
            font-weight: bold;
        }

        a {
            margin-bottom: 20px;
            font-weight: 600;
            color: #0073e6;
        }
    }
}