.section__parent {
    border-top: solid 1px #797979;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.div__left {
    h1 {
        font-weight: bold;
        font-size: 20px;
        color: rgb(107, 107, 107);
    }
}

.div__right {
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    a {
        font-weight: bold;
        font-size: 23px;
        color: rgb(38, 117, 207);
        margin-bottom: 15px;
    }
}