.div__wishlist {
    display: flex;
    flex-direction: column;
    background-color: #111;

    .div__main {
        height: 100vh;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .row__content {
            transition: 0.7s ease;
            .row__image {
                width: 350px;
                height: 200px;
                padding: 0.2rem;
            }
            .row__buttons__left {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                z-index: 5;
                
                svg {
                    font-size: 5rem;
                    padding-right: 10px;
                    padding-bottom: 20px;
                    color: white;
                }
                .like {
                    color: red;
                }
            }
        
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}